.consent-container{
    background-color: #eee;
    font-family: "Inter", sans-serif;
    height: 100vh;
    width: 100vw;
}

.consent-content{
    background-color: #fff;
    box-shadow: 0 0 5px 0 #bbb;
    margin: auto;
    max-width: 500px;
    height: inherit;
}